/* ####################################### */
/* this classes are only used in Impressum */
:root {
    --contentLimitation: 1440px;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*position: relative;*/
    color: black;
}

a {
    text-decoration: none;
}

.h1Impressum,
.h2Impressum {
    color: darkblue;
}

.impressum {
    max-width: var(--contentLimitation);
    width: 100%;
    margin: auto;
    font-size: clamp(16px, 2vw, 24px);
    padding: 48px 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}