.main-content {
    background-color: var(--bg-color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    gap: 120px;
    font-family: 'Iceland';
}

.content-section {
    max-width: 1200px;
    width: 100%;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.content-section>h2 {
    font-size: 64px;
    color: var(--font-color);
    width: 100%;
    text-align: center;
}

.components-table {
    max-width: 1200px;
    width: 100%;
    color: var(--font-color);
    border: 4px solid var(--table-border-color);
    border-collapse: collapse;
}

.components-table th {
    /* .components-table>tbody>tr>th */
    border: 4px solid var(--table-border-color);
    background-color: var(--table-th-bg-color);
    font-size: 48px;
    text-align: left;
    padding: 16px 16px 8px 16px;
}

.components-table td {
    font-size: 32px;
    border-left: 4px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    padding: 8px 16px;
}

/* ################################ */
.learning-content {
    max-width: 1200px;
    width: 100%;
    color: var(--font-color);
    display: flex;
    gap: 40px;
}

.learning-content>img {
    /* mit > genauer bestimmt */
    width: 500px;
}

.learning-content-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h3 {
    font-size: 48px;
}

.learning-content-right>p {
    font-size: 24px;
    color: var(--font-color);
}

.learning-content-links {
    color: var(--font-color-links);
    display: flex;
    gap: 48px;
    font-size: 32px;
}

.learning-content-links>a {
    color: var(--font-color-links);
}

/* ################################ */
.palanquin {
    font-size: 24px;
    color: var(--font-color);
    font-family: 'Palanquin';
}

.software-card-wrapper {
    display: flex;
    gap: 40px;
}

.software-card-wrapper>p {
    width: 100%;
}

.software-card {
    background-color: var(--bg-color-software);
    display: flex;
    align-items: center;
    width: 530px;
    gap: 24px;
    border: 5px solid white;
    padding: 16px;
}

.software-card>img {
    width: 120px;
}

h4 {
    color: var(--font-color);
    font-size: 40px;
}

.software-card p {
    padding-top: 16px;
    font-size: 20px;
    color: var(--font-color);
}